<div>
    <form
        action="/search"
        method="get"
    >
        <input
            type="text"
            id="search"
            name="name"
            placeholder="search for name"
        />
        <button type="reset">Clear</button><button type="submit">Search</button>
    </form>
</div>
